bin/
*.out
*.test
*.exe
*.dll
*.so
*.dylib

# VCS
.git
.gitignore

# IDE
.vscode
.idea
*.swp

# Caches
**/.cache

# Node leftovers (if any)
**/node_modules

# Keep primary Dockerfile only
Dockerfile*
!.Dockerfile
.dockerignore

# Misc
coverage/
*.log
